* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "gilroy";
    /* color: #000s; */
    font-family: 'Poppins';
    
  }
  
  html,
  body {
    height: 100%;
    width: 100%;
  }
  
  main {
    height: 100vh;
    width: 100vw;
  }
  
  .images {
    height: 100vh;
    width: 100vw;
    overflow-x: hidden;
  }
  
  .images img {
    height: 100%;
    width: 100%;
    object-fit: cover;
  }
  
  .content {
    height: 100vh;
    width: 100vw;
    position: absolute;
    top: 0;
    left: 0;
    pointer-events: none;
  }
  
  .content-area {
    height: 100%;
    width: 90%;
    max-width: 1920px;
    margin: 0 auto;
    position: relative;
  }
  
  nav {
    width: 100%;
    height: 100px;
    padding: 40px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: white;
    /* font-family: "poppins"; */
    pointer-events: none;
  }
  
  .nav-left {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 50px;
    font-size: 14px;
    font-weight: 600;
  }
  .nav-right {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 50px;
    font-size: 14px;
    font-weight: 100;
  }
  
  .nav-left img {
    height: 60px;
  }
  .nav-left h4,.nav-right h4{
    padding: .5rem;
    border-radius: 20px;
    background: rgba(0, 0,0,.5);
    backdrop-filter: blur(10px);
  }
  .hero {
    width: 100%;
    position: absolute;
    top: 55%;
    left: 0;
    transform: translateY(-50%);
    /* background-color: chocolate; */
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  .hero-left {
    width: 50%;
    /* background-color: darkmagenta; */
  }
  
  .elem {
    height: 8vw;
    overflow: hidden;
    position: relative;
    pointer-events: none;
    font-family: 'Poppins';
    -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: black;
  }
  
  .elem h1:nth-child(1) {
      top: 0;
    }
    
    .elem h1 {
      /* -webkit-text-stroke: 2px solid #000; */
      /* stroke:2px solid black; */
    /* mix-blend-mode: darken; */
    line-height: 1;
    font-size: 7vw;
    /* font-family: kajiro; */
    font-weight: 100;
    color: white;
    position: absolute;
    top: 100%;
    left: 0;
    
  }
  
  .hero-left .btn {
    font-size: 1.5vw;
    font-family: kajiro;
    font-weight: 100;
    width: 30%;
    height: 5%;
    /* padding: 1vw 1.5vw; */
    padding: .5rem .8rem;
    margin-top: 1.5vw;
    line-height: 1;
    pointer-events:all;
    background: rgba(0,0,0,.5);
    backdrop-filter: blur(10px);
    border-radius: 20px;
    text-transform: uppercase;
    pointer-events: all;
  }
  .hero-left .btn a{
    color: #fff;
    text-decoration: none;
  }
  .hero-right {
    width: 20%;
    height: 100%;
    /* background-color: blueviolet; */
    display: flex;
    align-items: flex-end;
    flex-direction: column;
    color: white;
  }
  
  .hero-right p {
    text-align: right;
    font-size: 14px;
    font-weight: 300;
    margin-bottom: 20px;
    line-height: 12px;
  }
  
  .imagediv {
    
    height: 5rem;
    width: 100%;
    /* background-color: darkgoldenrod; */
    margin: 30px 0;
    /* background-image: url(https://images.unsplash.com/photo-1534528741775-53994a69daeb?q=80&w=1964&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D); */
    /* background-size: cover; */
    /* background-position: center; */
  }
  .imagediv img{
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  